html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: rgba(113, 196, 241, 0.617);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: brown;
}

/* Margins for all the sections */
section {
    margin-left: 25px;
    margin-right: 25px;
}

/* Styling for Navigation Bar section */
.navigation {
    display: flex;
    /* position: fixed; */
    top: 0;
    position: sticky;
    background-color: rgba(30, 150, 215, 0.772);
    justify-content: space-between;
    /* margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 20px;
    margin-right: 10px; */
}

.navigation h1 {
    font-size: 250%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navigation .navigationLinks {
    padding-top: 35px;
}

.navigation .navigationLinks li {
    display: inline;
    margin-right: 10px;
}

.navigation .navigationLinks li a{
    color: black; 
}

.navigation .navigationLinks li a:hover{
    text-decoration: underline;
    color: brown;
}

/* Stylig for Subtitle section */
/* .subtitle {
    background-image: url('../background.png');
    min-height: 30vh;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    position: relative;
}

.subtitle h2 {
    font-size: 150%;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    margin-right: 20px;
} */

/* Styling for Profile Image section */
.profileImage img {
    border-radius: 20%;
    height: 15em;
}

/* Styling for Section Titles */
#sectionTitle {
    font-size: 150%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Styling for About Me section */
.aboutMe p {
    text-align: justify;
    text-indent: 20px;
    line-height: 1.5em;
}

/* Styling for Projects section */
.projects_blocks{
    display: flex;
    flex-wrap: wrap;
    direction: row;
    justify-content: space-evenly;
}

.projects_blocks img {
    width: 400px;
    height: 400px;
}

.projects_blocks p {
    text-align: center;
}

/* Styling for Contact Me section */
.contactMethod {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contactMe .contactMethod li {
    display: inline;
    margin-bottom: 30px;
}

/* Styling for Resume section */
.resume {
    margin-bottom: 50px;
}

/* Styling Footer */
footer p {
    font-size: 10px;
    text-align: center;
    color: darkblue;
}