html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: rgba(113, 196, 241, 0.617);
}

/* 
    For all the hyper links 
    1. Normal state
    2. Hover state
    3. Focus state
*/
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: brown;
}

/* Margins for all the sections */
section {
    margin-left: 25px;
    margin-right: 25px;
}


/* Styling for Navigation Bar section */
.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 10px;
}

.navigation h1 {
    font-size: 250%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navigation .navigationLinks li {
    display: inline;
    margin-right: 10px;
}

/* Stylig for Subtitle section */
.subtitle {
    background-image: url('../background.png');
    min-height: 30vh;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    position: relative;
}

.subtitle h2 {
    font-size: 150%;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    margin-right: 20px;
}

/* Styling for Section Titles */
#sectionTitle {
    font-size: 150%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Styling for About Me section */
.aboutMe p {
    text-align: justify;
    text-indent: 20px;
    line-height: 1.5em;
}

/* Styling for Projects section */
.projects_blocks{
    display: flex;
    flex-wrap: wrap;
    direction: row;
    justify-content: space-around;
}

.projects_blocks img{
    width: 400px;
    height: 400px;
}

.projects_blocks #project1 img {
    width: 500px;
    height: 500px;
}

.projects_blocks p {
    text-align: center;
}

/* Styling for Contact Me section */
.contactMethod {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contactMe .contactMethod li {
    display: inline;
    margin-bottom: 30px;
}

/* Styling Footer */
footer p {
    font-size: 10px;
    text-align: center;
}